@use "@/styles/abstracts" as *;

.page {
  @include container-responsive(true);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border: 2px solid lightblue;
  height: 100vh;
}

.container {
  border: 2px solid lightpink;
  @include container-responsive();
}
