$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
);

// @mixin responsive($size) {
//   $max: map-get($breakpoints, $size);

//   @media (max-width: #{$max}) {
//     @content;
//   }
// }

@mixin responsive($size, $direction: up) {
  $value: map-get($breakpoints, $size);

  @if $direction == up {
    @media (max-width: #{$value}) {
      @content;
    }
  } @else {
    @error "Direção inválida: use `up` ou `down`.";
  }
}
