// Breakpoints diretos
$xs: 0px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@mixin respond-xs {
  @media (min-width: $xs) and (max-width: #{$sm - 1px}) {
    @content;
  }
}
@mixin respond-sm {
  @media (min-width: $sm) and (max-width: #{$md - 1px}) {
    @content;
  }
}
@mixin respond-md {
  @media (min-width: $md) and (max-width: #{$lg - 1px}) {
    @content;
  }
}
@mixin respond-lg {
  @media (min-width: $lg) and (max-width: #{$xl - 1px}) {
    @content;
  }
}
@mixin respond-xl {
  @media (min-width: $xl) {
    @content;
  }
}
