@use "breakpoints" as *;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin container-responsive($fullwidth: false) {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;

  @if $fullwidth {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  } @else {
    @include responsive(xs) {
      max-width: 95%;
      border: 2px solid blue;
    }

    @include responsive(sm) {
      max-width: 95%;
      border: 2px solid green;
    }

    @include responsive(md) {
      max-width: 90%;
      border: 2px solid lightsalmon;
    }

    @include responsive(lg) {
      max-width: 80%;
      border: 2px solid yellow;
    }

    @include responsive(xl) {
      max-width: 70%;
      border: 2px solid red;
    }
  }
}
