@use "breakpoints" as *;

@mixin center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

// $xs: 480px;
// $sm: 768px;
// $md: 1024px;
// $lg: 1280px;
// $xl: 1440px;

@mixin container-responsive($fullwidth: false) {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease;

  @if $fullwidth {
    padding-left: 0;
    padding-right: 0;
    max-width: none;
  } @else {
    padding-left: 1rem;
    padding-right: 1rem;

    @include respond-xs {
      max-width: 95%;
      border: 2px solid lightblue;
    }

    @include respond-sm {
      max-width: 95%;
      border: 2px solid blue;
    }

    @include respond-md {
      max-width: 80%;
      border: 2px solid green;
    }

    @include respond-lg {
      max-width: 80%;
      border: 2px solid yellow;
    }

    @include respond-xl {
      max-width: 70%;
      border: 2px solid red;
    }
  }
}
