@use "@/styles/abstracts" as *;

.appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 0 30px;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  .horizontalList {
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .horizontalList li {
    padding: 8px 12px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
}

.barContacts {
  @include container-responsive(true);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 34px;
  background-color: $brand;

  .container {
    @include container-responsive();
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-family: $font-family;
      font-size: 0.875rem;
    }

    .socialNetworks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;

      .socialNetworkButton {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        width: 22px;
        height: 22px;
        cursor: pointer;
        // background-color: $brand-light;
        // padding: 4px;
      }
    }
  }
}
