@use "@/styles/abstracts" as *;

.footer {
  @include container-responsive(true);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $brand;
}

.container {
  @include container-responsive();
  padding: 80px 0;
  // border: 2px solid #fff;
}

.copyrightContainer {
  @include container-responsive(true);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;

  span {
    color: $text;
    font-size: 0.875rem;
  }

  @include responsive(sm) {
    flex-direction: column;

    span {
      text-align: center;
    }
  }
}
