@use "@/styles/abstracts" as *;

.footer {
  @include container-responsive(true);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  background-color: $brand;
}

.container {
  @include container-responsive();
  padding: 200px 0;
  border: 2px solid #fff;
}

.copyrightContainer {
  @include container-responsive(true);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // border: 2px solid red;
  padding: 20px 30px;
}
